{% extends 'base.html' %}

{% block meta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  function updateTable(){
    $.get("http://localhost:8000/wishlist/json/", function(data) {
      // fill table
      for(var i = 0; i < data.length; i++){
        var tr = document.createElement("tr");
        var tdNama = document.createElement("td");
        tdNama.append(data[i].fields.nama_barang);
        var tdHarga = document.createElement("td");
        tdHarga.append(data[i].fields.harga_barang);
        var tdDeskripsi = document.createElement("td");
        tdDeskripsi.append(data[i].fields.deskripsi);
        
        tr.append(tdNama);
        tr.append(tdHarga);
        tr.append(tdDeskripsi);
        
        $(".table").append(tr);
      }
    });
  }
  
  $(document).ready(function(){
    updateTable();
    
    $("#add_wishlist").click(function(){
      var nama = $("#input_nama").val();
      var harga = $("#input_harga").val();
      var deskripsi = $("#input_deskripsi").val();

      $.post("http://localhost:8000/wishlist/ajax/submit/",
      {
        nama,
        harga,
        deskripsi,
      },
      function(data, status){
        console.log("add wishlist success");

        var tr = document.createElement("tr");
        var tdNama = document.createElement("td");
        tdNama.append(nama);
        var tdHarga = document.createElement("td");
        tdHarga.append(harga);
        var tdDeskripsi = document.createElement("td");
        tdDeskripsi.append(deskripsi);
        
        tr.append(tdNama);
        tr.append(tdHarga);
        tr.append(tdDeskripsi);
        
        $(".table").append(tr);

        $("#input_nama").val("");
        $("#input_harga").val("");
        $("#input_deskripsi").val("");
      });
    });
  });
</script>
{% endblock meta %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
        <nav class="navbar bg-light">
            <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Welcome, {{nama}}!</span>
            <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
            </div>
          </nav>
    <table class="table table-bordered border-primary">
        <thead class="table-primary">
        <tr>
        <th>Nama Barang</th>
        <th>Harga Barang</th>
        <th>Deskripsi</th>
    </tr>
    </thead>
    </table>
    
    <h5 class="mt-4">Tambah Barang</h5>
    <form method="POST" action="">
      {% csrf_token %}
      <table>
        <tr>
            <td>Nama Barang: </td>
            <td><input type="text" name="nama_barang" placeholder="Nama Barang" class="form-control" id="input_nama"></td>
        </tr>
        <tr>
            <td>Harga Barang: </td>
            <td><input type="text" name="harga_barang" placeholder="Harga Barang" class="form-control" id="input_harga"></td>
        </tr>
        <tr>
            <td>Deskripsi: </td>
            <td><input type="text" name="deskripsi" placeholder="Deskripsi" class="form-control" id="input_deskripsi"></td>
        </tr>
        </table>
      </form>
      <button id="add_wishlist" type="submit" class="btn btn-primary">Tambah Wishlist</button>
        <h5 style= "text-align: center;">Sesi terakhir login: {{ last_login }}</h5>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock content %}